@use "../abstracts" as *;

.myntra-breadcrumb {
  margin: rem(16);

  // Hide on mobile
  @media (max-width: 768px) {
    display: none;
  }

  .MuiBreadcrumbs-ol {
    align-items: center;
  }

  .MuiBreadcrumbs-separator {
    margin: 0 rem(6);
    color: #94969f;
    font-size: rem(12);
  }

  a {
    text-decoration: none;
    color: #9e9fa3;
    font-size: rem(16);
    font-weight: 400;
    letter-spacing: 0.3px;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: #000000;
      text-decoration: underline;
    }
  }

  .MuiTypography-root {
    color: #3d3d3d;
    font-size: rem(13.5);
    letter-spacing: 0.3px;
    cursor: default;
  }
}
