@use "../../abstracts/" as *;

.button {
  display: flex;
  gap: rem(16);
  margin: rem(19.2) rem(112) rem(19.2) 0;

  &__style {
    @include button-base;
    @include flex-center;
    justify-content: center;
    height: rem(51.2);
    font-size: rem(15.2);
  }

  // ICON STYLE (shared)
  &__icon {
    font-size: rem(20);
    margin-right: rem(9.6);
    vertical-align: middle;
  }

  // PRIMARY BUTTON (Add to bag)
  &__bag {
    width: 60%;
    background-color: $primary-pink;
    color: #fff;

    &:hover {
      background-color: $primary-pink-hover;
    }
  }

  // SECONDARY BUTTON (Wishlist)
  &__wishlist {
    width: 40%;
    background-color: #fff;
    color: $text-dark;
    border: 1px solid $light-gray;

    &:hover {
      border-color: #797474;
    }
  }

  @media (max-width: 768px) {
    &__bag,
    &__wishlist {
      width: 50%;
    }
  }
}
