@use "../../abstracts/" as *;

.delivery {
  margin: $space-4 0;

  &__feature {
    display: flex;
    align-items: center;
    gap: $space-4;
    color: #34384b;
  }

  &__address {
    display: flex;
    align-items: center;
    gap: $space-1;
    font-size: rem(15.2);
    font-weight: 700;
    border: 1px solid $light-gray;
    padding: 0 $space-3;
    border-radius: rem(4);
    margin-bottom: $space-4;
    width: 60%;
    max-width: rem(265);

    &_changebtn {
      margin-left: auto;
      font-size: rem(12.8);
      color: #ff3e6c;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  &__text {
    font-size: rem(15.2);
    font-weight: 700;
    line-height: 1.3;
  }

  // MORE INFO
  &__info {
    display: flex;
    align-items: center;
    margin-left: auto; // responsive fix

    &_text {
      font-size: rem(12.8);
      color: #ff3e6c;
      font-weight: 700;
    }
  }
}
