@use "../../abstracts/" as *;

.offer {
  margin-bottom: rem(32);

  &__link {
    @include text-link;
  }

  &__title {
    font-weight: 700;
    font-size: rem(15);
    margin: rem(15) 0 0 0;
  }

  &__label {
    font-size: rem(13);
    font-weight: 400;
    margin: rem(6) 0 0 0;
  }
}
