@use "../../base/typography" as *;
@use "../../abstracts/mixins" as *;

.offer {
  &__icon {
    vertical-align: middle;
    margin-left: 5px;
  }

  &__link {
    color: #ff3f6c;
    font-size: 13px;
    font-weight: 700;
    margin: 8px 0 0 0;
    text-decoration: none;
    display: inline-block;
  }
  &__title {
    font-weight: 700;
    font-size: 15px;
    margin: 15px 0 0 0;
  }

  &__label {
    font-size: 13px;
    font-weight: 400;
    margin: 6px 0 0 0;
  }
}

.original-products {
  font-size: 15px;
  font-weight: 400;
  margin: 10px 0 40px 0;
}

.hr {
  @include hr;
}
