@use "../../abstracts/" as *;

.product-overview {
  display: flex;

  @include respond(tablet) {
    flex-direction: column;
  }

  &__gallery {
    width: 57%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: $space-5; // ✅ FIX token
    gap: $space-2; // ✅ FIX token

    @include respond(tablet) {
      width: 100%;
      margin: $space-3;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__details {
    width: 43%;
    height: 100%;

    @include respond(tablet) {
      width: 100%;
      padding: 0 $space-3;
    }
  }
}
