@use "../../abstracts/" as *;

.details {
  font-size: rem(16);

  &__text {
    margin: $space-1 0;
    font-weight: 400;
  }

  &__title {
    font-weight: 700;
    margin: $space-3 0 $space-2;
    font-size: rem(16);
  }
}

.specGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $space-2 $space-6;

  @include respond(tablet) {
    grid-template-columns: 1fr; // stack on tablet/mobile
    gap: $space-3;
  }
}

.specItem {
  padding-bottom: $space-2;
}

.specKey {
  font-size: rem(12);
  color: #7e818c;
  margin: 0;
}

.specValue {
  color: #111;
  margin: $space-1 0 $space-2;
  font-size: rem(14.4);
}

.hr {
  @include hr;
}

.link {
  @include text-link;
}
