.variant {
  display: flex;
  gap: 10px;
  margin: 22px 0 30px;

  &__circle {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__selected {
    border: 1px solid #ff3f6c;
    color: #ff3f6c;
  }

  &__unselected {
    border: 1px solid #ccc;
  }

  &__disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &__available {
    cursor: pointer;
    opacity: 1;
  }

  &__diff-price {
    width: 76px;
    height: 48px;
    border-radius: 25px;
  }
}
