@use "../../abstracts/" as *;

.variant {
  &__heading {
    @include section-heading-secondary;
  }

  &__list {
    display: flex;
    gap: rem(12.8);
    flex-wrap: wrap; // important for mobile
    margin: rem(19.2) 0 rem(32);
  }

  &__circle {
    width: rem(50);
    height: rem(50);
    border-radius: rem(25);
    border: 1px solid #d4d5d9;
    flex-direction: column;
    @include flex-center;
    cursor: pointer;
  }

  &__selected {
    border: 1px solid #ff3f6c;
    color: #ff3f6c;
  }

  &__unselected {
    border: 1px solid #ccc;
  }

  &__disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &__available {
    cursor: pointer;
    opacity: 1;
  }

  &__diff-price {
    width: rem(76);
    height: rem(48);
    border-radius: rem(25);
  }

  &__size {
    font-weight: 700;
    font-size: rem(14.4);
  }

  &__price {
    font-size: rem(12);
    margin-top: rem(3.2);
  }
}
