@use "../abstracts/variables" as *;

@mixin heading-light {
  margin: 0;
  color: #535665;
  font-weight: 400;
  font-size: 20px;
}

@mixin hr {
  border: none;
  border-top: 1px solid $light-gray;
  margin: 8px 0;
}
